<form action="/students" method="post">

  <label for="first_name">First name:</label>
  <input type="text" id="first_name" name="first_name">

  <label for="last_name">Last name:</label>
  <input type="text" id="last_name" name="last_name">

  <label for="house">House: </label>
  <select id="house" name="house">
    <% for house in House.find_all %>
    <option value ="<%= house.name() %>"><%= house.name() %></option>
    <% end %>
  </select>
    <!-- <option value="Gryffindor"><house1.name()</option>
    <option value="Hufflepuff"><house2.name</option>
    <option value="Ravenclaw"><house3().name()</option>
    <option value="Slytherin"><house4().name()</option> -->
  </select>

  <label for="age">Age:</label>
  <input type="number" min="1" id="age" name="age">

  <input type="submit" name="Submit" value="Submit">

</form>
